version: '3.8'

services:
  ollama:
    image: ollama/ollama
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama:/root/.ollama   # хранение моделей
    restart: unless-stopped
  nlp-backend:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - ./backend/configs:/app/backend/configs
      - ./logs:/app/logs
    restart: unless-stopped
volumes:
  ollama:
